<div class="btm--img">
    <div class="btm__img__container">
        <button class="video__button"><a href="/products">See Our Products</a></button>
    </div>
</div>
<nav class="nav nav--footer">
    <div>
        <ul class="list footer">
            <li class="nav__item nav__list-item"><a href="/">Home</a></li>
            <li class="nav__item nav__list-item"><a href="/products">Products</a></li>
            <li class="nav__item nav__list-item"><a href="/reviews">Review</a></li>
        </ul>
    </div>
    <div class="footer__item">
        <h3>Location:</h3>
        <p>123 Street,</p>
        <p> New York, New York </p>
    </div>
    <div class="footer__item">
        <h3>Contact:</h3>
        <p>coffeeReview@email.com</p>
        <p>123-456-7890</p>
    </div>
</nav>