<nav class="nav">
    <a class="nav__title" href="#">Coffee Reviews</a>
    <ul class="list nav__list">
        <li class="nav__item nav__list-item"><a href="#">Home</a></li>
        <li class="nav__item nav__list-item"><a href="#">Products</a></li>
        <li class="nav__item nav__list-item"><a href="#">Review</a></li>
        <li class="nav__item nav__list-item"><a href="#">Sign In</a></li>
    </ul>
</nav>