<%- include('partials/header.ejs')  %>
    <title>Reviews</title>
</head>
<body>
    <nav class="nav">
        <a class="nav__title" href="#">Coffee Reviews</a>
        <ul class="list nav__list">
            <li class="nav__item nav__list-item"><a href="#">Home</a></li>
            <li class="nav__item nav__list-item"><a href="#">Products</a></li>
            <li class="nav__item nav__list-item"><a href="#">Review</a></li>
            <li class="nav__item nav__list-item"><a href="#">Sign In</a></li>
        </ul>
    </nav>
    <div class="parallax--effect-video">
        <video autoplay muted loop>
            <source src="../public/images/coffeeSpin.mp4" type="video/mp4">
        </video>
        <div class="video--content">
            <h1>Coffee Is Life. Go Have A Say On It.</h1>
            <button class="video__button">See Our Products</button>
        </div>
    </div>
</body>
</html>