<%- include('partials/header.ejs')  %>
    <title>Reviews</title>
</head>
<body>
    <%- include('partials/nav.ejs')  %>
    <div class="parallax--effect-video">
        <video autoplay muted loop>
            <source src="../public/images/coffeeSpin.mp4" type="video/mp4">
        </video>
        <div class="video--content">
            <h1>Coffee Is Life. Go Have A Say On It.</h1>
            <button class="video__button">See Our Products</button>
        </div>
    </div>
</body>
</html>