:root{
    --color-primary: #544b3d;
    --color-secondary: #4e6e58;
    --color-accent: #f7a072;
    --color-border: #fff;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    background-color: #fefeff;
    font-family: 'Inter', sans-serif;
}

h1{
    font-size: 8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 2.4rem;
}

.list{
    list-style: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    background-color: var(--color-primary);
}

.nav__title{
    font-size: 3rem;
    font-weight: 800;
}

.nav__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 0;

}

.nav__item{
    font-size: 2.2rem;
}

.nav__list-item{
    display: inline;
}

a{
    text-decoration: none;
    color: var(--color-border);
    font-weight: 600;
}

a:hover{
    color: var(--color-accent);
    transition: color var(--color-accent);
    cursor: pointer;
}

.parallax--effect-video{ 
    /* padding-bottom: 50px; */
    height: 60vh;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.video--content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-border);
    margin-top: 0;
    position: absolute;
    top: 30%;
    left: 10%;
}

.parallax--effect-video video{ 
    position: absolute;
    width: 100%;
    z-index: -999;
}

.video__button{
    width: 30%;
    padding: 2rem;
    font-size: 2rem;
    border-radius: 20px;
    background-color: var(--color-secondary);
    color: var(--color-border)
}

.video__button:hover{
    color: var(--color-accent);
    transition: color 0.15s;
}

.card{
    border: 1px solid black;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card--container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card__image{
    border: 1px solid tomato;
    height: 90%;
    width: 30%;
}