@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100&display=swap');

:root {
    --color-primary: #544b3d;
    --color-secondary: #4e6e58;
    --color-accent: #f7a072;
    --color-border: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    background-color: #fefeff;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2.4rem;
}

.list {
    list-style: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    background-color: var(--color-primary);
}

.nav__header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav__title {
    font-size: 3rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

.nav__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.nav__item {
    font-size: 2.2rem;
}

.nav__list-item {
    display: inline;
    float: right;
    text-align: right;
}

a {
    text-decoration: none;
    color: var(--color-border);
    font-weight: 600;
}

a:hover {
    color: var(--color-accent);
    transition: color var(--color-accent);
    cursor: pointer;
}

.parallax--effect-video {
    height: 60vh;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-border);
}

.parallax--effect-video video {
    position: absolute;
    width: 100%;
    z-index: -999;
}

.video__button {
    width: 30%;
    padding: 2rem;
    font-size: 2rem;
    border-radius: 20px;
    background-color: var(--color-secondary);
    color: var(--color-border);
    margin: 2rem;
}

.video__button:hover {
    color: var(--color-accent);
    transition: color 0.15s;
}

.video--content h1{
    text-align: center;
}

.card {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.card h2 {
    color: var(--color-primary);
    margin: 3rem 0 3rem 0;
    padding-bottom: 2rem;
}

.card--section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card--container {
    height: auto;
    width: 30%;
    border-radius: 15%;
    box-shadow: 0 0 2px 2px var(--color-secondary);
    text-align: center;
    padding: 10px;
}

.card__image {
    height: 60%;
    width: 60%;
    border-radius: 15%;
}

.card__img {
    overflow: hidden;
    margin-top: 5px;
}

.card__text {
    text-transform: uppercase;
}

.card__text h3 {
    text-align: center;
    color: var(--color-primary);
}

.card__text h3:hover {
    color: var(--color-accent);
}

.banner-container {
    background: url(../images/coffeeOnWoodTable.jpeg);
    background-size: cover;
    background-position: center center;
    top: 100px;
    margin-top: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.banner-container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #544b3d;
    opacity: -7;
    z-index: -1;
}

.banner-container h1 {
    padding-top: 8%;
    font-size: 80px;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.banner--text {
    width: 100%;
    height: 800px;
    position: relative;
    background-color: #fff;
    top: 600px;
}

.banner--text h1 {
    font-size: 40px;
    margin: 0;
    padding-top: 0;
    letter-spacing: 4px;

}

.content-area {
    position: relative;
    background-color: #fff;
    top: 500px;
}

.content-area h2 {
    position: relative;
    color: black;
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: stretch;
    margin: 0px 30px;
}

.grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    height: 400px;
    width: 400px;
}

.item--name {
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    text-transform: uppercase;
}

.item--description {
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}

.item--rating {
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}

.item--review--button {
    background-color: #4e6e58;
    margin-top: 10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    height: 30px;
    width: 70px;
    margin-bottom: 50px;
}

.item--review--button:hover {
    transform: scale(1.1);
    box-shadow: 1px 5px 3px 1px #544b3d;
    color: #fff;
}

.product--name {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.product--description {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.product--rating {
    font-family: 'Poppins', sans-serif;
}

.advertise {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 160, 114, 20%);
    color: var(--color-primary);
    border-radius: 10%;
    margin: 8rem;
    padding: 3rem 0;
}

.advertise h2 {
    margin-bottom: 3rem;
}

.advertise h3 {
    margin: 0 1rem 2rem;
    text-align: center;
    line-height: 4rem;
}

.advertise h4 {
    margin: 3rem 0;
    font-size: 2.1rem;
}

.desc--wrapper {
    display: flex;
}

.bullet:before {
    content: "\A";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--color-secondary);
    margin: 0 3rem;
    display: inline-block;
    opacity: 0.6;
}

.wrapper__word {
    font-size: 2rem;
    color: var(--color-primary);
}

.btm--img {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.btm__img__container {
    background: url(../images/beansOnTable.jpg);
    background-size: cover;
    background-position: center center;
    height: 250px;
    width: 90%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer li,
.footer__item h3 {
    margin-bottom: 1rem;
}

.footer__item {
    font-size: 2.2rem;
    color: var(--color-border);
    font-weight: 600;
}

.nav--footer {
    position: relative;
    height: 200px;
}

.all--information {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product--information-review {
    width: 25%;
    bottom: 60%;
}

.review-img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    height: 300px;
    width: 300px;
    margin: 50px;
}

.item--name-review {
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    text-transform: uppercase;
}

.item--description-review {
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}

.item--rating-review {
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}

.all--reviews {
    margin: 60px 30px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
}

.user-name {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
}

.review--text {
    font-family: 'Poppins', sans-serif;
}

.line--break{
    border-bottom: 1px solid #000;
}
#button1,
#button2,
#button3 {
    float: right;
    margin-right: 10px;
}

.new--review {
    margin-top: 50px;
}

.new--review{
    margin: 30px;
}
#reviewInput {
    width: 100%;
}

.rating{
    color: #fff;
    background-color: var(--color-secondary);
    width: 50px;
}

.all--reviews{
    margin-bottom: 30px;
}

.reviews_random{
    margin-left: 30px;
}

@media screen and (max-width: 1025px){
    .card--container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .video--content h1{
        font-size: 5.8rem;
    }
}

@media screen and (max-width: 600px){

    .desc--wrapper{
        flex-direction: column;
        align-items: center;
    }

    .wrapper__word__last::after{
        content: "\A";
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: var(--color-secondary);
        margin: 0 3rem;
        display: inline-block;
        opacity: 0.6;
    }
}

@media screen and (max-width: 400px){
    .advertise{
        margin: 0 auto;
        width: 90%;
    }

    .card{
        height: auto;
    }

    .card--section{
        flex-direction: column;
        align-items: center;
    }

    .card--container{
        width: 90%;
        margin-bottom: 2rem;
    }

    h3{
        font-size: 1.7rem;
    }

    .btm__img__container{
        margin-top: 1rem;
    }

    .nav__header{
        flex-direction: column;
    }

    .nav__item{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .nav__list{
        flex-direction: column;
        align-items: center;
    }

    .nav__title{
        text-align: center;
    }

    .video__button{
        font-size: 1.8rem;
        margin: 1rem;
        padding: 1rem;
        width: 70%;
    }

    .video--content h1{
        font-size: 2.5rem;
        font-weight: 900;
    }

    .wrapper__word{
        font-size: 1.5rem;
    }
}