<%- include('../partials/header.ejs')  %>
<title>Products</title>
</head>

<body>
    <%- include('../partials/nav.ejs')  %>
    <div class="banner-container">
        <h1 class="banner--text">Welcome to the Products Page</h1>
        <div class="image--banner">
            <img class="image--banner" src="./public/images/coffeebanner.jpeg" alt="">
        </div>
    </div>
    <div class="card">
        <section>
            <h2>Products</h2>
        </section>
        <div class="grid">
            <img src="./public/images/coffeeWithMilk.jpg" alt="">

        </div>
    </div>
</body>

</html>